@{
  Layout = "_Layout";
}

@using System.Security.Claims
@using Capstone.Models;
@model IEnumerable<Capstone.Models.Location>

<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      @foreach (Location location in Model)
      {
        <li>@Html.ActionLink($"{location.Zip}", "Details", new { id = location.LocationId })</li>
      }
      <p>@Html.ActionLink("Add new location", "Create", "Location")</p>
      <input type="submit" class="btn btn-info" value="Logout" />
    }
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
