@{
  Layout = "_Layout";
}

@using Capstone.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email)

    @Html.LabelFor(user => user.Password)
    @Html.PasswordFor(user => user.Password)

    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.PasswordFor(user => user.ConfirmPassword)

    @Html.LabelFor(user => user.PhoneNumber)
    @Html.EditorFor(user => user.PhoneNumber)
    @Html.ValidationMessageFor(user => user.PhoneNumber)

    <input type="submit" value="Register" />
}
